# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
desktop.ini
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# Temporary files
*.log
*.tmp